@import "settings";
@import "foundation";
@import "app";

// * {
// 	border: 1px solid black;
// }
.account-list {
	list-style-type: none;
}

.add-credits {
	list-style-type: none;
}
.become-button {
	background: dodgerblue;
	color: white;
	font-size: .75em;
	padding: .5em 1em .5em 1em;
	border-radius: 2px;
}
